# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.npm

# Next.js
.next
out

# Production
build
dist

# Environments
.env
.env.production

# Debug
npm-debug.log*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
.lighthouseci
public/docs

# TypeScript
*.tsbuildinfo
next-env.d.ts
