.tutorialPopup {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  padding: 20px;
  margin-right: 20px;
  border-radius: 1.5rem;
  background-color: #fff;
  color: #000;
  animation: animate 0.4s ease;
}

.title {
  margin: 0;
  text-align: center;
}

@keyframes animate {
  0% {
    transform: translateX(100%) scale(0.8);
  }
}
