.chat {
  position: absolute;
  width: 40vw;
  margin: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  max-height: 35vh;
  bottom: 0;
  overflow-y: auto;
}

.chat li {
  margin: 1rem;
  list-style-type: none;
  word-wrap: break-word;
  animation: animate 0.5s;
}

@keyframes animate {
  from {
    transform: translateX(1rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
